/* 3. CSS RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  padding-bottom: 30px;
  padding-top: 10px;
}

a{
  color: black;
  text-decoration: none;
}

/* p {
  padding-bottom: 20px;
} */

/* 4. GOOGLE FONT */
body{
  font-family: 'Open Sans', sans-serif;
}

/* 5. NAV BAR STICKY */
#navbar{
  background-color: white;
  overflow: auto;
  position: sticky;
  top: 0;
  color: white;
}

.nav-logo{
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 100px;
}

#navbar .right-nav{
  list-style: none;
  float:right;
  margin-right: 70px;
}

#navbar ul .nav{
  float: left;
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul .nav a:hover{
  color: #c2195b;
}


/* 6. APPLY TUITT BUTTON */
.tuitt-button{
  color: white;
  background-color: #c2195b;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .5rem 1rem;
}

/* 7. LANDING PAGE */

#bg-image {
  background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  min-height:40vh;
}

/* 8. OPACITY */

.front-bg {
  background-color: hsla(0, 0%, 0%, 0.50);
  min-height:40vh;
}

.subtitle{
  font-size: 1em;
  padding-left: 200px;
}

.title {
  font-size: 3em;
}

.title, .subtitle{
  color: white;
}

.front-bg .container {
  float: right;
  text-align: right;
  max-width: 100vh;
  padding-right: 100px;
}

/* 9. ZILLA SLAB FONT */
.title, .title-2{
  font-family: 'Zilla Slab', serif;
}

.apply-button {
  color: white;
  background-color: #c2195b;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .7rem 3rem;
}

/* INTRO SECTION (What is a Developer.. ?) */

.intro{
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

/* PRE-FOOTER */

/* 10. BGC PRE-FOOTER */
.pre-footer{
  background-color: #f7fbfb;
  padding: 2rem;

}

/* 11. BGC BOOK BUTTON */
.book-button{
  background-color: #336589;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: .7rem 3rem;
}

.pre-footer{
  text-align: center;
}

/* 12. FOOTER */
.footer{
  text-align: center;
  padding-top: 10px;
}